# Node modules
node_modules/

# Build output
.next/
out/
dist/

# Env vars
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Clerk local data
.clerk/
.vercel/

# Editor directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: Storybook
storybook-static/
