@import "tailwindcss";

/* Samo temno ozadje, niÄ drugega */
html,
body {
  background-color: #111827;
  color: #e5e7eb;
}
/* Dark UI tweaks */
.bg-white {
  background-color: #1f2933 !important; /* dark gray */
}

.border {
  border-color: #374151 !important;
}